.heading
{
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
    box-shadow: 5px 5px 5px rgb(0, 204, 255);
    width: 100%;
    margin: 0px;
}

.headind_div
{
    float: none;
    background-color: rgb(255, 0, 255);
    padding: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 5px rgb(0, 204, 255);
}

.headind_div2
{
    font-size: 25px;
}